.button {
  border: none;
  border-radius: 12px;
  padding: 12px 20px 14px 20px;
  background: var(--purple1);
  font-weight: 700;
  font-size: 16px;
  line-height: 137%;
  text-align: center;
  color: var(--white);
  cursor: pointer;
}